$appThemeColor: #0000ff; // app主题颜色
$navBarHeight: 46px; // 顶部导航高度
$tabBarHeight: 50px; // 底部导航高度

:export {
  appThemeColor: $appThemeColor;
  navBarHeight: $navBarHeight;
  tabBarHeight: $tabBarHeight;
}



